É considerado o saldo total de associados correntistas. Contas com pelo menos 5 reais integralizados e uma conta corrente apta ao uso (ativa ou inativa).

In [1]:
from libs.utilitarios import *
from libs.bases import *

In [7]:
pq.read_table(rf"C:\Users\fernanda_pachla\Sicredi\TimeBI_0730 - Documentos\01_Rotineiros\23_placar_gns\placares\2023\dados\cartoes\202310_cartoes.parquet").to_pandas(safe=False)

,agencia,carteira,ano_mes,cpf_cnpj,produto,nome_portador,qt_produto,realizado_produto
0,46,DIG,202310,70251541991,MASTERCARD INTERNACIONAL,SANDRA LEALDINO,1,1
1,46,DIG,202310,09511755994,MASTERCARD INTERNACIONAL,JOSE A FILHO,1,1
2,46,DIG,202310,00645815942,MASTERCARD INTERNACIONAL,VALDIR CRISTO,1,1
3,46,331,202310,52059118000199,VISA EMPRESARIAL,CAMILLA JULIANA SALTO MORAWSKI,1,1
4,46,331,202310,52049015000148,VISA EMPRESARIAL,JOHN PATRIK CAMARGO,1,1
...,...,...,...,...,...,...,...,...
54848,02,010101,202310,07158848914,MASTERCARD INTERNACIONAL,BRUNA DOS SANTOS,1,1
54849,02,010101,202310,06870981906,VISA INTERNACIONAL,EVANDRO CARNEIRO,1,1
54850,02,010101,202310,04872446992,MASTERCARD INTERNACIONAL,DIRLENE SANTANA,1,1
54851,02,010101,202310,03804400914,MASTERCARD INTERNACIONAL,CLEUZA ERDMAM,2,1
54852,02,010101,202310,03112335970,MASTERCARD INTERNACIONAL,KARINA RIBEIRO,1,1

In [28]:
(
    assodia
    .query("flg_correntista == 'S'")
    .sort_values(["cod_ua", "cod_carteira"])
    # [['cod_ua', 'cod_carteira', 'cpf_cnpj', 'conta_principal']]
    .pipe(tratar_conta, "conta_principal")
    .rename({"cod_ua" : "ag", "conta_principal" : "num_conta"}, axis=1)
    .assign(ano_mes = anomes_atual)
    .query("cod.carteiras.isin(['050100'])")
    # .query("cod_carteira == '532'")
    .cod_carteira.unique()
)

array(['010101', '010201', '010301', '040100', '050100', '111', '121',
       '131', '141', '188', '211', '212', '221', '231', '311', '321',
       '331', '341', '531', '532', '534', 'DIG', '010300', '010401',
       '112', '213', '222', '223', '540', '010102', '010202', '010402',
       '122', '142', '312', '332', '990100', '990500', '010100', '010200',
       'INV', '000', '114', '342', '533', '010400', '105', '010103',
       '010203', '113', '123', '100', '010405', '315', '101', '106',
       '010302', '132', '322', '010411', '143', '313', '411', '350',
       '611', '040200', '323', '400'], dtype=object)